img.icon {
  height: 120px;
  width: 120px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}

table td{
  text-align: center;
}

article {
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  border: 5px solid orange;
  padding: 20px;
}

table th {
  text-align: center;
}
